#
# Author        :Julio Sanz
# Website       :www.elarraydejota.com
# Email         :juliojosesb@gmail.com
# Tested in     :Debian Wheezy/Jessie
# Description   :Format conversor
# Dependencies  :libav-tools
# Usage         :Drag and drop the file you want to convert
# License       :GPLv3
#

[Desktop Entry]
Name=mp4audioextractor
Exec=bash -c "$(dirname %k)/scripts/mp4_audio_extractor.sh %U"
Terminal=true
Type=Application
